@import './base.css';
@import "./_colors.css";
@import "./fonts.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
   cursor: pointer;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.vue-devtools__panel,
#vue-inspector-container,
#__vue-devtools-container__ {
  display: none !important;
}